<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['bar']});
google.charts.setOnLoadCallback(drawStuff);

function drawStuff() {
var data = new google.visualization.arrayToDataTable(<%= raw(@bar_data) %>);

var options = {
    title: 'Total Votes for Group',
    width: 900,
    legend: { position: 'none' },
    chart: { title: 'Group Names'},
    bars: 'horizontal', // Required for Material Bar Charts.
    axes: {
    x: {
        0: { side: 'top', label: 'Percentage'} // Top x-axis.
    }
    },
    bar: { groupWidth: "90%" },

    
};

var chart = new google.charts.Bar(document.getElementById('freq_group'));
chart.draw(data, options);
};
</script>


<div class="container d-flex justify-content-center align-content-center ">
    <div id="freq_group" style="">
    </div>
</div>
