


<div class="container d-flex justify-content-center align-content-center ">
    <div id="freq_group" style="">
    </div>
    <a href=<%= my_votes_url %> class = 'back_button_index_groups' id='back_group_stats_show'>
        <img src="https://i.imgur.com/BEcgpsg.png" alt="" class='img-fluid imagen_vote_show'>
    </a>
</div>
