<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {
    var data = new google.visualization.arrayToDataTable([
        ['Opening Move', 'Percentage'],
        ["King's pawn (e4)", 44],
        ["Queen's pawn (d4)", 31],
        ["Knight to King 3 (Nf3)", 12],
        ["Queen's bishop pawn (c4)", 10],
        ['Other', 3]
    ]);

    var options = {
        title: 'Chess opening moves',
        width: 900,
        legend: { position: 'none' },
        chart: { title: 'Chess opening moves',
                subtitle: 'popularity by percentage' },
        bars: 'horizontal', // Required for Material Bar Charts.
        axes: {
        x: {
            0: { side: 'top', label: 'Percentage'} // Top x-axis.
        }
        },
        bar: { groupWidth: "90%" }
    };

    var chart = new google.charts.Bar(document.getElementById('freq_group'));
    chart.draw(data, options);
    };
</script>
<div class="container d-flex justify-content-center align-content-center ">
    <div id="freq_group" style="">
    </div>
</div>
