<h1 class="site-heading text-center text-white d-lg-block">
    <span class="site-heading-upper text-primary mb-3"><img src="https://i.imgur.com/wUzFVgH.png" alt="uptitle"></span>
    
</h1>


<div id="demo" class="carousel slide" data-ride="carousel">

    
    <div class="carousel-inner group_carrousel">
        <div class="carousel-item active d-flex justify-content-center align-items-center">
            
        </div>
        <div class="carousel-item">
            
            <div class = "d-flex justify-content-center align-items-center">
                <div class="card" style="width: 15rem;">
                    <img src="https://i.imgur.com/PAV1GeH.jpg" alt="group" class = "img-thumbnail rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        
                    </div>
                </div>
            </div>      
        </div>
        <div class="carousel-item">
            <div class = "d-flex justify-content-center align-items-center">
                <img src="https://i.imgur.com/t7nEyRP.jpg" alt="Chicago">
            </div>      
        </div>
        <div class="carousel-item">
            <div class = "d-flex justify-content-center align-items-center">
                <img src="https://i.imgur.com/t7nEyRP.jpg" alt="Chicago">
            </div>      
        </div>
        <div class="carousel-item">
            <div class = "d-flex justify-content-center align-items-center">
                <img src="https://i.imgur.com/ZSc0fD0.jpg" alt="Chicago">
            </div>      
        </div>
        
        <div class="carousel-item">
            <div class = "d-flex justify-content-center align-items-center">
                <img src="https://i.imgur.com/3EhDh2X.jpg" alt="New York">
            </div>      
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
