<section class='User_Profile'>

  <div class="site-heading">
    <h1 class="text-center text-white d-lg-block">
      <img src="https://i.imgur.com/FDk3V48.png" alt="uptitle" class='up_title  img-responsive'>
      <img src="https://i.imgur.com/Apw10z1.png" alt="downtitle" class='down_title  img-responsive'>
    </h1>
  </div>
    

    <ul class="nav user-nav justify-content-center align-items-center mx-auto" id="mainNav">
      <li class="nav-item px-lg-3">
          <%= link_to 'Groups', groups_url, method: :get, class: 'nav-link io text-uppercase text-expanded' %>
          
      </li>
      <li class="nav-item px-lg-3">
          <%= link_to 'Demands', demands_profile_url, method: :get, class: 'nav-link io text-uppercase text-expanded' %>
      </li>
      <li class="nav-item io px-lg-3">
          <%= link_to 'My Demands', my_votes_url, method: :get, class: 'nav-link io text-uppercase text-expanded' %>
          
      </li>
      <li class="nav-item io px-lg-5">
          <a class= "nav-link text-uppercase text-expanded" href= "/users/sign_out">Sign out</a>
      </li>
    </ul>
  <section class = 'page-section clearfix'>
      
      <div class="container">
        <div class="intro">
          
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Something</span>
              <span class="section-heading-lower">Something about something</span>
            </h2>
            <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
            </div>
          </div>
        </div>
      </div>
      <div class='container'>
          <div class='jojo'>
              añlshjdlfjk
          </div>
          <div class='jojo'>
              My Groups
          </div>
          <div class='jojo'>
              My Votes
          </div>
      </div>
  </section>

  <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Our Promise</span>
                <span class="section-heading-lower">To You</span>
              </h2>
              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Democraticon 2019</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
