
<section class = 'gral_back'>
    <div class='container'>
        <div class='jojo'>
            My Petitions
        </div>
        <div class='jojo'>
            My Groups
        </div>
        <div class='jojo'>
            My Votes
        </div>
    </div>
</section>
