// Place all the styles related to the my_votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.my_votes_background {
    position: absolute;
    top: -5rem;
    left: -2rem;
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('https://i.imgur.com/ul4ibcL.png') !important ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 2000px;
    width: 110%;
}
.my_votes_items {
    position: relative;
    top: -3rem;
    height: 100%;
    margin-bottom: 3rem;
}
.my_votes_avatar {
    position: relative;
    top: 1rem;
    width: 250px;
    box-shadow: 0px 0px 50px rgba(173, 173, 185, 0.7);
    
}
.main_my_vote {
    z-index: 100;
    font-size: 5rem;
}
.groups_label {
    position: relative;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 400px;
    box-shadow: 0px 0px 50px rgba(41, 41, 46, 0.7);
}
.avatar_group_my_votes {
    width: 250px;
}
.group_foto_my_votes{
  height: 350px;
  width: 350px;
  box-shadow: 0px 0px 100px rgba(173, 173, 185, 0.7);
}
.demands_label_my_votes {
    top: 8rem;
    margin-bottom: 7rem;
    position: relative;
    width: 400px;
    box-shadow: 0px 0px 50px rgba(24, 24, 26, 0.7);

}
.votes_carousel {
    margin-top: 5rem;
    height: 300px;
}
.groups_carousel {
    height: 300px;
}

@mixin heading-font {
    font-family: 'Raleway';
    
  }
.my_votes_stats_background {
    position: absolute;
    top: -5rem;
    left: -2rem;
    background:black;
    height: 2000px;
    width: 110%;
    z-index: -10;
}
.group_stats_gral{
    position: relative;
    right: -2rem;
}
.total_votes_group{
    background: rgba(19, 197, 87, 0.65) !important;
    color: rgb(19, 18, 18);
    font-family: 'Raleway';
    font-size: 2rem;
}
.collaborators {
    text-align: center;
    position: relative;
}
.total_groups {
    height: 50px;
    background: rgba(173, 173, 185, 0.7);
    color: black;
    font-size: 2rem;
    padding:.5rem;
    text-align: center;
}

.total_votes_title_group{
    background: rgba(241, 65, 6, 0.65);
    position: relative;
    top: -0.6rem;
    padding: 0.5rem;
    right: 10rem;
    font-weight: 900;
    box-shadow: 0px 0px 50px rgba(62, 62, 68, 0.7);
}
.total_votes_group {
    width: 500px;
    position: relative;
    font-size: 2.5rem;
    padding:0.5rem;
    top:-0.2rem;
    right: -8rem;
    font-weight: 900;
    background: rgb(129, 230, 13) !important;
    box-shadow: 0px 0px 50px rgba(62, 62, 68, 0.7);
}
.collaborators{
    right: -5rem;
    width: 25rem;
    background: rgba(173, 173, 185, 0.7);
}
.collaborator_names{
    background-color: rgba(192, 192, 218, 0.7);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
}
.collab_title{
    position: relative;
    right: -5rem;
    width: 25rem;
    background: rgba(177, 184, 170, 0.9);
    text-align: center;
    font-size: 3rem;
    
}
.users_counter{
    background-color: rgba(156, 156, 179, 0.7);
    position: relative;
    right: -5rem;
    width: 25rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}
.collab_title, .user_counter, .collaborators {
    margin-top: 2rem;
}
.my_votes_demand_list{
    position: relative;
    width: 30rem;
    top:2rem;
    background: white;
}
.my_group_description{
    font-size: 1.8rem;
}