// Place all the styles related to the my_votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.my_votes_avatar{
    position: relative;
    height: 250px!important;
    color: white !important;
    width: 250px;
    box-shadow: 0px 0px 70px rgba(77, 77, 143, 0.7);
}
#my_votes_name{
    position: absolute;
    right: 6rem;
    color: white;
    top:6rem;
    
}

.groups_label{
    margin-top: 5rem!important;
    color: white!important;
    height: 6rem;
    width: 50rem!important;
    background: rgba(59, 57, 57,0.7)!important;;
    box-shadow: 0px 0px 50px rgba(77, 77, 143, 0.7);
    z-index: 3000;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main_my_vote {
    z-index: 100;
    font-size: 5rem;
}

.avatar_group_my_votes {
    width: 250px;
}
.group_foto_my_votes{
  height: 300px!important;
  width: 300px!important;
  margin-top: 3rem;;
  box-shadow: 0px 0px 100px rgba(173, 173, 185, 0.7);
}
.demands_label_my_votes {
    top: 8rem;
    margin-bottom: 7rem;
    position: relative;
    width: 400px;
    box-shadow: 0px 0px 50px rgba(24, 24, 26, 0.7);

}
.votes_carousel {
    margin-top: 5rem;
    height: 300px;
}
.groups_carousel {
    height: 300px;
}

.group_stats_gral{
    position: relative;
    right: -2.5rem;
    
}
.group_my_votes{
    background: rgb(0, 0, 0)!important;
    
}
.info_group_my_votes{
   
    width: 100%;;
    
}
.group_totals{
    position: relative;
    
    
}
.total_votes_group{
    background: rgba(19, 197, 87, 0.65) !important;
    color: rgb(19, 18, 18);
    font-family: 'Raleway';
    font-size: 2rem;
}
.collaborators {
    text-align: center;
    position: relative;
}
.total_groups {
    width: 70rem;
    
    height: 50px;
    background: rgba(173, 173, 185, 0.7);
    color: black;
    font-size: 2rem;
    padding:.5rem;
    text-align: center;
}

.total_votes_title_group{
    background: rgba(241, 65, 6, 0.65);
    position: relative;
    top: -0.6rem;
    padding: 0.5rem;
    right: 10rem;
    font-weight: 900;
    box-shadow: 0px 0px 50px rgba(62, 62, 68, 0.7);
}
.total_votes_group {
    width: 500px;
    position: relative;
    font-size: 2.5rem;
    padding:0.5rem;
    top:-0.2rem;
    right: -8rem;
    font-weight: 900;
    background: rgb(129, 230, 13) !important;
    box-shadow: 0px 0px 50px rgba(62, 62, 68, 0.7);
}
.foot_1{
    background: rgba(12, 12, 12, 9);
    padding: 2rem;
    width: 145%;
    
}
.foot_demand_creator, .pp{
   
    width: 100px !important;
    height: 100px!important;
    
}

.collaborators{
    top:-5rem;
    max-height: 30rem;
    position: relative;
    overflow-y: scroll;
    width: 45rem;
    background: rgba(19, 19, 173, 0.7);
}
.collaborator_names{
    border: 2px solid black;
    background-color: rgba(192, 192, 218, 0.7);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    position: relative;
}
#collaborator_name{
    position:relative;
    
    padding-left: 4rem;
    padding-right: 4rem;
    background: rgb(120, 113, 126);
    padding: 1rem;
}
#thisdemands{
    position: relative;
    top: 1.5rem;
    height: 100px;
    
}
.counter_for_demand_list{
    width: 70px;
    color:black!important
}
.counter_scroll_demands_my_vote{
    background: rgb(8, 8, 8)!important;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    
    font-size: 3rem;
    box-shadow: 0px 0px 50px rgba(77, 77, 143, 0.7)!important;
}


 

.modal-header{
    position: relative;
    background: #0c0c0c;
    color: white;
    left: -5rem;;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 55rem;
    font-size: 2.5rem;;
    padding: 1rem;
    box-shadow: 0px 0px 50px rgba(252, 18, 115, 0.8)!important;
    margin-bottom: 4rem;;
    
    
}
.home_button_my_votes{
    position: absolute;
    bottom:-2rem;
    left: 43%;
    width: 8rem;
    background: rgba(77, 77, 143, 0.7);
}
.modal{
    position: relative;
    left: -8rem!important;
    height: 80rem!important;
    overflow-y: scroll;
}
.modal-body{
    
    background: rgb(17, 17, 17);
    width: 45rem!important;; 
}
.card-img-top_show_group{
    height: 40rem !important;
    width: 60rem;;
}

.collab_title{
    position: relative;
    right: -4.5rem;
    width: 45rem;
    background: rgba(81, 146, 16, 0.9);
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.collab_title:hover{
    background: rgba(89, 167, 11, 0.9);
}
.collab_title_1{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 45rem;
    background: rgba(81, 146, 16, 0.9);
    text-align: center;
    font-size: 3rem;
    color: white
}
.collab_title_1:hover{
    background: rgba(89, 167, 11, 0.9);
}
.collab_demand_name:nth-child(odd) {
    background: rgba(1, 1, 27, 0.7);
}
.users_counter{
    background-color: rgba(156, 156, 179, 0.7);
    position: relative;
    
    width: 45rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}
.collab_title, .user_counter, .collaborators {
    box-shadow: 0px 0px 50px rgba(77, 77, 143, 0.7);
    margin-top: 7rem;
}
.collabs{
    margin-right: 2rem;
    margin-left: 5rem;
    cursor: pointer;
}
.collabs:hover{
    background: red;
}

.my_votes_data_1{
    position: relative;
    right: -1.5rem;
    bottom:-5rem
}
.vote_my_votes_body{
    padding-left: 2rem;
    position: relative;
    color:white;
}
.modal-content{
    background: rgba(77, 85, 34, 0.4)!important;
    
}
#user_name_card_my_votes{
    
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2rem;
    
}
.image_modal_votes{
    box-shadow: 0px 0px 50px rgba(77, 77, 143, 0.7);
}
.model-footer{
    height: 6rem;
    font-size: 2rem;
    background: #4e4d53!important;;
}
.button_cards{
    font-size: 2rem !important;
    position: absolute;
    background: green;
    right: -15rem;
    bottom: -1rem;
    color: red;
    padding: 1rem;
    box-shadow: 0px 0px 50px rgba(77, 77, 143, 0.7);
}
.my_votes_demand_list{
    right: -1.5rem;
    position: relative;
    box-shadow: 0px 0px 50px rgba(77, 77, 143, 0.7);
    width: 50rem;
    top:1rem;    
}
.my_votes_demand_list_index{
    position: relative;
    box-shadow: 0px 0px 50px rgba(77, 77, 143, 0.7);
    width: 50rem;
    height: 30rem;;
    top:8rem;
    overflow-y: scroll;
}
.title_group{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.group_my_votes{
    
}
.my_group_description{
    font-size: 2.5rem;
    background: rgb(197, 199, 202);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.demands_list_my_votes{
    
    max-height: 35rem;
    position: relative;
    overflow-y: scroll;
    
}
.demands_list_my_votes_group{
    max-height: 45rem;
    position: relative;
    overflow-y: scroll;
}

.demand_my_votes_item{
    background: rgba(79, 79, 122, 0.2) !important;
    color:white;
    font-size: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}
.collab_card {
    align-items: center;
}
.my_votes_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}
.card_my_vote{
    background: rgba(39, 39, 53, 0.7);
    margin-bottom: 2rem;
    padding: 2rem;
    margin-left: 1.5rem;
    
    
}
.card-body{
    top:-15rem
}
.card_description_demand{
font-size: 1.5rem;
}
.link_go_to{
    
    background: black;
    color: white;
    
    position: relative;
   
}
#button_cards{
    width:15rem;
    height:3rem;
    position: absolute;
    top:-.3rem;
    font-size:1.5rem;
    
}
.foot_buttons{
    margin-top: 4rem;;
}
.home_button_index_my_votes_groups{
    position: absolute;
    left: 5rem;
    bottom:-10rem;
    width: 8rem;
    background: rgba(73, 179, 46, 0.25);
  }
  .back_button_index_my_votes_groups{
    position: absolute;
    width: 8rem;
    bottom:-10rem;
  }