// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #e6a756 !default;
$secondary: #2F170F !default;

@mixin heading-font {
    font-family: 'Raleway';
  }
  
  @mixin body-font {
    font-family: 'Lora';
  }
.jojo{
    background-color: rgb(118, 80, 255);
    border: 2px solid red;
    text-align: center;
    font-size: 3rem;
}
body {
    @include body-font;
    font-family: 'Lora';
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("https://i.imgur.com/aDUDXk7.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include heading-font;
  }
  
  p {
    line-height: 1.75;
  }
    
  
  .site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(141, 7, 130) !important;
  }
   
  
  .io {
    color: #e40bb5 !important;
  }
  
  
  #mainNav {
    background-color: rgba(47, 23, 15, 0.9);
    font-family: 'Raleway';
  }
  
  .intro {
    position: relative;
  }
  
  
  
  .footer {
    background-color: rgba(47, 23, 15, 0.9);
  }
  
  #mainNav {
    background-color: fade-out($secondary, 0.1);
    
    .navbar-brand {
      color: $primary;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: fade-out($white, 0.5);
  
          font-weight: 800;
        }
        &.active {
          .nav-link {
            color: $primary;
          }
        }
      }
    }
    
  }
  
  
  .cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: fade-out($primary, 0.1);
    .cta-inner {
      position: relative;
      padding: 3rem;
      margin: 0.5rem;
      background-color: fade-out($white, 0.15);
      &:before {
        border-radius: 0.5rem;
        content: '';
        position: absolute;
        top: -0.5rem;
        bottom: -0.5rem;
        left: -0.5rem;
        right: -0.5rem;
        border: 0.25rem solid fade-out($white, 0.15);
      }
    }
  }
  
  body {
  @include body-font;
  background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('https://i.imgur.com/aDUDXk7.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

p {
  line-height: 1.75;
}

.text-faded {
  color: fade-out($white, 0.7);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  
  @include heading-font;
  .site-heading-upper {
    border: 2px solid red;
    
    display: block;
    font-size: 2rem;
    font-weight: 800;
  }
  
  .site-heading-lower {
    position: relative;
    top:1rem;
    border: 2px solid red;
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
  }
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
  }
}

.bg-faded {
  background-color: fade-out($white, 0.15);
}

  