// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.jojo{
    background-color: rgb(118, 80, 255);
    border: 2px solid red;
    text-align: center;
    font-size: 3rem;
}