// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.background_votes{
    background-image:
        linear-gradient(to bottom, rgba(179, 171, 165, 0.32), rgba(224, 123, 55, 0.23)),
        url('https://i.imgur.com/UxB0ZFP.png');
        background-size: cover;
}
.down_title{
    position: absolute;
    width: 45rem;
    bottom: -2rem!important;
}
.name_header{
    position: absolute;
    color: rgb(230, 209, 23);
    top:1rem;
    left:12rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;;
    width: 40rem;
    height: 10rem;;
    overflow-y: scroll;
    text-align: center;
}
.demand {
    
    background:rgba(0, 0, 0, 0.8);
    height: 56rem;;
    border: 5px solid rgb(139, 138, 33);
    margin-top: 8rem;;
    padding: 10px;
    -webkit-box-shadow: 3px 2px 45px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 45px 9px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 45px 9px rgba(0,0,0,0.75);
    color: white;
    margin-top: 10rem;
}
.demand_img{
    padding: 2rem;
    width: 43rem!important;
    height: 30rem!important;
}
.demand_description {
    padding: 2rem;
    width: 43rem!important;
    height: 23rem;
    
    overflow-y: scroll;
}
.demand_controls {
    padding-top: 12rem;
    
}
.down_arrow, .up_arrow {
    padding-top: 5rem;
    width: 300px;
}
.new_button_votes{
    position: relative;
    top:1.5rem;
    right: -82%;
    width: 8rem;
    background: rgba(175, 33, 194, 0.45);
  }
.home_button_votes{
  position: absolute;
  top:1.5rem;
  left: 3.5rem;
  width: 8rem;
  background: rgba(175, 33, 194, 0.45);
}
.groups_label_index_votes{
  position: relative;
  top:-6rem;
  left:2rem;
}
.meta_card_votes_index{
    color:rgba(222, 129, 235, 0.45);
  font-size: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.demand_counter {
    background: rgba(0, 0, 0, 0.3);
    width: 80%;
    height: auto;
    padding: 2rem;
    font-size: 12rem;
    color: white;
    text-align:center;
    -webkit-box-shadow: 3px 2px 45px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 45px 9px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 45px 9px rgba(0,0,0,0.75);
}
.site-heading-upper {
    width: 55rem;
}
.home_button{
    position: absolute;
    top:0;
    left:0;
    width: 8rem;
    background: rgba(201, 196, 200, 0.9);
}
.imagen_vote_show{
    width: 8rem!important;
}
.home_button_2{
    position: absolute;
    top:0;
    right: 0;
    width: 8rem;
    background: rgba(143, 140, 142, 0.52);
}
.imagen_vote_show_2{
    width: 8rem!important;
}
.post_title{
    position: relative;
    top: -5rem;
    height: 6rem;;
}
.footer_votes_index{
    height: 6rem;
    font-size: 2rem;
    position:relative;
    top:-5rem;
    
}
.group_list_votes_index{
   position: relative;
   
}

.new_link_votes{
    position: relative;
    right: -12rem!important;
    background: rgba(175, 33, 194, 0.45);
    width: 150px;
}
.modal_new_demand{
    
    position: absolute;
    top:-50rem;
    left:-20rem;
    width: 45rem!important;
    height: 40rem;
    background: rgb(13, 13, 14)!important;
    
}
.header_new_demand{
    width: 45rem!important;
    background: rgb(160, 69, 145);
}
.title_new_demand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color:white;
    font-weight: 700;
}
.body_demands_new_list{
    overflow: scroll;
}
.groups_list_item_new_demand{
    background: rgba(99, 42, 89,0.5);
    border: 2px solid black;
    padding:1rem;
}
.groups_list_item_new_demand span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color:white;
    margin-top: 1.5rem;font-weight: 700;;
}
#button_submit_new_demand{
    width: 7rem!important;
    height: 3rem;;
    background: rgb(160, 69, 145);
}
.modal-backdrop {
    z-index: -1!important;
  }
.new_link_modal{
    position: relative;
    right: -46rem;
}
.mini_group{
    height: 15rem;;
    z-index: 3300;
}
.content_index_vote{
    position: relative;
    left:-22rem;
    width: 45rem!important;;
    background: rgb(221, 17, 221)!important;
    z-index: 3200;
}

.modal_head_index{
    background: rgb(255, 255, 255)!important;
    z-index: 3001;
}
.body_groups_show{
    background: rgb(204, 188, 188)!important;
    z-index: 3001;
}