<h1 class="site-heading text-center text-white d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Do your own Voting!!</span>
    <span class="site-heading-lower titles">Democraticon</span>
  </h1>
    
  <ul class="nav justify-content-center mx-auto" id="mainNav">
  <li class="nav-item px-lg-4">
    <a class= "nav-link io text-uppercase text-expanded" href="index.html">Home</a>
  </li>
  <li class="nav-item px-lg-4">
    <a class= "nav-link io text-uppercase text-expanded" href="#">Link</a>
  </li>
  <li class="nav-item io px-lg-4">
    <a class= "nav-link io text-uppercase text-expanded" href="#">Link</a>
  </li>
  <li class="nav-item io px-lg-4">
    <a class= "nav-link text-uppercase text-expanded" href="#">Disabled</a>
  </li>
</ul>